extends layout

block content
    h1= title
    p Welcome to #{title}
    script(src="/socket.io/socket.io.js")
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    script.
        $(function () {
            var socket = io();
            $('form').submit(function(e){
              e.preventDefault(); // prevents page reloading
              socket.emit('chatMessage', $('#m').val());
              $('#m').val('');
              return false;
            });
            socket.on('gameState', function(gs){
                if(gs.gameState === 'hurrying answers') {
                    var min = Math.floor(Math.random() * 10);
                    var range = Math.floor(Math.random() * 100);
                    var max = min + range;
                    console.log({min, max});
                    socket.emit('sendAnswer', {min, max});
                }
            });
          });
    p Activated socket.
    ul(id="messages")
        form(action="")
          input(id="m" autocomplete="off")
          button Send


